# app.container
[Unit]
Requires=mqtt-broker.container
After=mqtt-broker.container

[Container]
Environment=MQTT_BROKER_DOCKER_URL=0.0.0.0
Environment=MQTT_BROKER_DOCKER_PORT=1883
#Environment=MQTT_BROKER_USERNAME=user
#Environment=MQTT_BROKER_PASSWORD=password
Environment=MQTT_BROKER_API_URL=api.blueair.io
Environment=MQTT_BROKER_API_PORT=1883
Environment=BLUEAIR_PORT=3001
ContainerName=blueair-local
#Environment=OPENHAB_SERVER_IP=openhab.local
#Environment=OPENHAB_SERVER_PORT=8080
Image=blueair-local.build
Pod=smarthome.pod
#PublishPort=80:3000
