[Unit]
Description=Matter Server Python

[Container]
Pod=smarthome.pod
ContainerName=matter-server
Exec=--storage-path /data --paa-root-cert-dir /data/credentials --bluetooth-adapter 0
Image=ghcr.io/matter-js/python-matter-server:stable
AppArmor=unconfined
Volume=matter-server-data.volume:/data:z
Volume=/run/dbus:/run/dbus:ro

HealthCmd=curl --fail-with-body localhost:5580/info
HealthInterval=10s
HealthTimeout=10s
HealthRetries=10
Notify=healthy
HealthStartupRetries=100

[Service]
Restart=always