[Container]
ContainerName=quadlet-sync
# Tell Podman to build the image from the directory we just made
Image=ghcr.io/machineonamission/quadlet-sync:main
# These are REQUIRED for nsenter to be able to talk to the host systemd
Privileged=true
PidMode=host

# Map the host systemd folder to /host-systemd inside the container
Volume=/etc/containers/systemd:/host-systemd:rw

# Run the webhook server on port 9191
PublishPort=9191:9191

[Service]
Restart=always

[Install]
WantedBy=multi-user.target