[Container]
AddCapability=SYS_ADMIN DAC_READ_SEARCH
ContainerName=music-assistant-server
Environment=LOG_LEVEL=debug
Image=ghcr.io/music-assistant/server:beta
PodmanArgs=--security-opt apparmor=unconfined
Volume=music-assistant-data.volume:/data:z
Volume=music-assistant-media.volume:/media:z
Pod=smarthome.pod
AutoUpdate=registry
Pull=newer


Volume=/run/dbus:/run/dbus:ro
Volume=/var/run/dbus:/var/run/dbus:ro
Environment=DBUS_SYSTEM_BUS_ADDRESS=unix:path=/run/dbus/system_bus_socket

SecurityLabelDisable=true
GroupAdd=audio
Volume=/run/pipewire:/run/pipewire:ro
Environment=XDG_RUNTIME_DIR=/run/pipewire
Environment=PULSE_SERVER=unix:/run/pipewire/pulse/native
AddDevice=/dev/bus/usb:/dev/bus/usb
AddCapability=NET_ADMIN
AddCapability=NET_RAW

[Service]
Restart=always
