[Container]
AddCapability=SYS_ADMIN DAC_READ_SEARCH
ContainerName=music-assistant-server
Environment=LOG_LEVEL=debug
Image=ghcr.io/music-assistant/server:latest
PodmanArgs=--security-opt apparmor=unconfined
Volume=music-assistant-data.volume:/data:z
Volume=music-assistant-media.volume:/media:z
Pod=smarthome.pod
AutoUpdate=registry
Pull=newer

[Service]
Restart=always
