[Container]
AddCapability=SYS_ADMIN DAC_READ_SEARCH
ContainerName=music-assistant-server
Environment=LOG_LEVEL=debug
Image=ghcr.io/music-assistant/server:latest
PodmanArgs=--security-opt apparmor=unconfined
Volume=/docker/music-assistant-server/data:/data:z

[Service]
Restart=always
