[Container]
ContainerName=alsa_volume_from_usb_hid
AddDevice=/dev/snd:rw
AddDevice=/dev/input:r
AddDevice=/dev/bus/usb:r
Image=ghcr.io/machineonamission/alsa_volume_from_usb_hid:main
Pod=smarthome.pod
AutoUpdate=registry
Pull=newer
Environment=PYTHONUNBUFFERED=1
Exec=-l debug

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target