[Container]
ContainerName=webdav
Image=ghcr.io/hacdias/webdav:latest
PublishPort=6065:6065
AutoUpdate=registry
Pull=newer
Volume=/srv/volumes/webdav:/data:z
Volume=/srv/volumes/quadlet/config.yml:/config.yml:z
Exec=-c /config.yml

[Service]
Restart=always