[Container]
ContainerName=rest980_i7
Environment=PORT=3002
EnvironmentFile=i7.env
Environment=FIRMWARE_VERSION=2
Image=docker.io/koalazak/rest980:latest
Pod=smarthome.pod
AutoUpdate=registry
Pull=newer


[Service]
Restart=always