[Container]
ContainerName=rest980_m6
Environment=PORT=3004
EnvironmentFile=m6.env
Environment=FIRMWARE_VERSION=2
Image=docker.io/koalazak/rest980:latest
Pod=smarthome.pod
AutoUpdate=registry
Pull=newer


[Service]
Restart=always