[Container]
ContainerName=alsa_volume_from_usb_hid
AddDevice=/dev/snd
AddDevice=/dev/input
Image=ghcr.io/machineonamission/alsa_volume_from_usb_hid:main
Pod=smarthome.pod
AutoUpdate=registry
Pull=newer

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target