[Container]
ContainerName=bt-proxy
Image=ghcr.io/denerva/bt-proxy:main
PodmanArgs=--privileged
Volume=/run/dbus:/run/dbus:ro
Volume=/var/run/dbus:/var/run/dbus:ro
AutoUpdate=registry
Pull=newer
Environment=DBUS_SYSTEM_BUS_ADDRESS=unix:path=/run/dbus/system_bus_socket
Network=host

Pod=smarthome.pod

AddCapability=NET_ADMIN
AddCapability=NET_RAW
AddCapability=SYS_ADMIN

Exec=--friendly-name "Kitchen BT Proxy" --port 6054 --log-level DEBUG

[Service]
Restart=always
