[Container]
AddCapability=NET_ADMIN
AddCapability=NET_RAW
AddDevice=/dev/bus/usb:/dev/bus/usb
ContainerName=sendspin-client
Environment=SENDSPIN_SERVER=auto
Environment=TZ=America/Chicago
Environment=WEB_PORT=8080
Environment=CONFIG_DIR=/config
Environment=AUDIO_UID=0
Environment=AUDIO_GID=0
AutoUpdate=registry
Pull=newer
Pod=smarthome.pod

AddDevice=/dev/snd


Image=ghcr.io/machineonamission/sendspin-cli-docker:main
Label=com.centurylinklabs.watchtower.enable=true
Network=host
PodmanArgs=--security-opt apparmor=unconfined
SeccompProfile=unconfined
Volume=/var/run/dbus:/var/run/dbus:ro
#Volume=/run/user/1000/pulse:/run/user/1000/pulse
#Volume=/run/user/1000/pipewire-0:/run/user/1000/pipewire-0

SecurityLabelDisable=true
GroupAdd=audio
Volume=/run/pipewire:/run/pipewire:ro
Environment=XDG_RUNTIME_DIR=/run/pipewire
Environment=PULSE_SERVER=unix:/run/pipewire/pulse/native

Exec=daemon --name "Kitchen Sendspin" --id sendspin-kitchen

[Service]
Restart=always