[Container]
Pod=smarthome.pod
ContainerName=nginx
Image=docker.io/jc21/nginx-proxy-manager:latest
AutoUpdate=registry
Pull=newer
Volume=nginx-data.volume:/data:z
Volume=nginx-le.volume:/etc/letsencrypt:z

[Service]
Restart=always
