[Container]
ContainerName=jabra
Image=ghcr.io/machineonamission/lva-jabra-speak-410:main

AutoUpdate=registry
Pull=newer

Pod=smarthome.pod

# usb communication
AddDevice=/dev/bus/usb

# pipewire (see LVA docs)
Volume=/run/pipewire:/run/pipewire:ro
SecurityLabelDisable=true
GroupAdd=audio
Environment=XDG_RUNTIME_DIR=/run/pipewire
Environment=PULSE_SERVER=unix:/run/pipewire/pulse/native

# volume
Environment=VOLUME_CONTROL=pipewire
[Service]
Restart=always