[Unit]
Wants=gork-build.service
After=gork-build.service

[Container]
Pod=bots.pod
ContainerName=gork
Image=ghcr.io/machineonamission/gorkpy:main
AutoUpdate=registry
Pull=newer
Volume=/srv/volumes/bot/gork:/app/persist:z

[Service]
Restart=always
