[Unit]
Wants=smutdownloader-build.service
After=smutdownloader-build.service

[Container]
Pod=bots.pod
ContainerName=smutdownloader
Image=ghcr.io/machineonamission/smutdownloader:main
AutoUpdate=registry
Pull=newer

[Service]
Restart=always
