[Unit]
Wants=mf-private-build.service
After=mf-private-build.service

[Container]
Pod=bots.pod
ContainerName=mf-private
Image=localhost/mediaforge:latest
Pull=missing
Volume=/srv/volumes/bot/mf-private/config.py:/mediaforge/config.py:z
Volume=/srv/volumes/bot/mf-private/database.db:/mediaforge/database.db:z
Environment=AUTOMODE=ON
BuildArg=AUTOMODE=ON

[Service]
Restart=always
