[Unit]
Description=Home Assistant Core
After=ollama.container speaches.container linux-voice-assistant.container matter-server.container
Wants=ollama.container speaches.container linux-voice-assistant.container matter-server.container

[Container]
Pod=smarthome.pod
ContainerName=homeassistant
Timezone=America/Chicago
Image=ghcr.io/home-assistant/home-assistant:stable
PodmanArgs=--privileged
Volume=haconfig.volume:/config:z
Volume=hamedia.volume:/media:z
Volume=custom-wakewords.volume:/share/openwakeword:z
Volume=/run/dbus:/run/dbus:ro
Volume=/var/run/dbus:/var/run/dbus:ro
Volume=/srv/smarthome/dnshack.conf:/etc/resolv.conf:ro
AutoUpdate=registry
Pull=newer
EnvironmentFile=HA-healthcheck-token.env
Environment=DBUS_SYSTEM_BUS_ADDRESS=unix:path=/run/dbus/system_bus_socket

AddCapability=NET_ADMIN
AddCapability=NET_RAW
AddCapability=SYS_ADMIN



HealthCmd=out=$(bash -c 'curl --fail-with-body -k https://localhost:8123/api/ -H "Authorization: Bearer $${TOKEN}"'); echo "$out"; echo "$out" | grep -q '{"message":"API running."}' || exit 1
HealthStartupCmd=out=$(bash -c 'curl --fail-with-body -k https://localhost:8123/api/ -H "Authorization: Bearer $${TOKEN}"'); echo "$out"; echo "$out" | grep -q '{"message":"API running."}' || exit 1
HealthInterval=10s
HealthTimeout=10s
HealthRetries=10
Notify=healthy
HealthStartupRetries=1000
HealthStartupInterval=3s
HealthOnFailure="kill"

[Service]
Restart=always
