[Unit]
Description=Home Assistant Core
After=ollama.container speaches.container wyoming-openai.container linux-voice-assistant.container matter-server.container
Wants=ollama.container speaches.container wyoming-openai.container linux-voice-assistant.container matter-server.container

[Container]
Pod=smarthome.pod
ContainerName=homeassistant
Timezone=America/Chicago
Image=ghcr.io/home-assistant/home-assistant:stable
PodmanArgs=--privileged
Volume=haconfig.volume:/config:z
Volume=hamedia.volume:/media:z
Volume=custom-wakewords.volume:/share/openwakeword:z
Volume=/run/dbus:/run/dbus:ro
Volume=/srv/quadlet/smarthome/dnshack.conf:/etc/resolv.conf:ro
AutoUpdate=registry
Pull=newer

# todo need to figure out some auth bullshit here
#HealthCmd=curl \
           #  -H "Authorization: Bearer TOKEN" \
           #  -H "Content-Type: application/json" \
           #  http://localhost:8123/api
#HealthInterval=10s
#HealthTimeout=10s
#HealthRetries=10
#Notify=healthy
#HealthStartupRetries=100

[Service]
Restart=always
