[Container]
Pod=net.pod
ContainerName=adguardhome
Image=docker.io/adguard/adguardhome
Volume=adguard-workdir.volume:/opt/adguardhome/work:z
Volume=adguard-config.volume:/opt/adguardhome/conf:z
AutoUpdate=registry
Pull=newer
