[Unit]
After=network-online.target

[Container]
Pod=net.pod
ContainerName=cloudflared
Image=docker.io/cloudflare/cloudflared:latest
# Cloudflare handles its own routing, but we force off autoupdate
# because immutable containers shouldn't rewrite their own binaries.
Exec=tunnel --no-autoupdate run
EnvironmentFile=cloudflare-token.env
# Putting it on the host network allows it to easily see all your other containers
Network=host
AutoUpdate=registry
Pull=newer


[Service]
# Tell systemd to always restart the tunnel if it crashes or loses connection
Restart=always

[Install]
WantedBy=multi-user.target