[Container]
AddCapability=SYS_NICE
ContainerName=sendspin

Pod=smarthome.pod

Volume=/run/pipewire:/run/pipewire:ro
Environment=XDG_RUNTIME_DIR=/run/pipewire
Environment=PULSE_SERVER=unix:/run/pipewire/pulse/native

Group=29
GroupAdd=audio
HealthCmd=["curl","-f","http://localhost:8096/api/health"]
HealthInterval=30s
HealthRetries=3
HealthStartPeriod=40s
HealthTimeout=10s
Image=ghcr.io/chrisuthe/multiroom-audio:latest
Network=host
PublishPort=8096:8096
User=0
Volume=sendspin-config.volume:/app/config:z
Volume=sendspin-logs.volume:/app/logs:z
Volume=/proc/asound:/host/asound:ro
Volume=/usr/share/alsa:/usr/share/alsa:ro

AddDevice=/dev/snd

[Service]
Restart=always