[Container]
ContainerName=fast_reverse_proxy_server
Image=docker.io/fatedier/frps:v0.68.1
Network=host
AutoUpdate=registry
Pull=newer
EnvironmentFile=frp.env
Volume=./frps.toml:/etc/frp/frps.toml:ro
Exec=-c /etc/frp/frps.toml


[Service]
# Tell systemd to always restart the tunnel if it crashes or loses connection
Restart=always

[Install]
WantedBy=multi-user.target