[Container]
ContainerName=squeezelite
Image=docker.io/giof71/squeezelite
#:r2-latest-alsa

AutoUpdate=registry
Pull=newer

Pod=smarthome.pod

# usb communication
AddDevice=/dev/snd

# pipewire (see LVA docs)
Volume=/run/pipewire:/run/pipewire:ro
Volume=/run/pipewire/pulse:/run/user/1000/pulse:ro
SecurityLabelDisable=true
GroupAdd=audio
Environment=XDG_RUNTIME_DIR=/run/pipewire
Environment=PULSE_SERVER=unix:/run/pipewire/pulse/native
Environment=SQUEEZELITE_LINEAR_VOLUME=Y
Environment=SQUEEZELITE_NAME=Bedroom Sqeezelite
Environment=SQUEEZELITE_VOLUME_CONTROL=PCM
Environment=PGID=0
Environment=PUID=0

# volume
[Service]
Restart=always