[Container]
#AddDevice=/dev/ttyUSB0
ContainerName=openhab
Pod=smarthome.pod
Environment=CRYPTO_POLICY=unlimited
Image=openhab/openhab:milestone
AutoUpdate=registry
Pull=newer
Volume=/etc/localtime:/etc/localtime:ro
Volume=/etc/timezone:/etc/timezone:ro

Volume=openhab-conf.volume:/openhab/conf:z
Volume=openhab-userdata.volume:/openhab/userdata:z
Volume=openhab-addons.volume:/openhab/addons:z
Volume=openhab-java.volume:/openhab/.java:z

[Service]
Restart=always
