# amniotic.container
[Container]
ContainerName=amniotic
Environment=AMNIOTIC__HA_CORE_API=https://localhost:8123/api
#Environment=SUPERVISOR_TOKEN=your_long_lived_access_token
EnvironmentFile=amniotic-token.env
Environment=AMNIOTIC__MQTT__HOSTNAME=0.0.0.0
Environment=AMNIOTIC__STREAM_URL=http://localhost:8080
Environment=AMNIOTIC__PATH_AUDIO=/amniotic/audio
Environment=AMNIOTIC__PATH_CONFIG=/amniotic/config
Group=1000
#HostName=amniotic
Image=docker.io/fmtr/amniotic:latest
#PublishPort=8007:8080
User=1000
Volume=amniotic-audio.volume:/amniotic/audio:z
Volume=amniotic-config.volume:/amniotic/config:z
Pod=smarthome.pod

[Service]
Restart=always