[Unit]
Description=Linux Voice Assistant

[Container]
Pod=smarthome.pod
ContainerName=linux-voice-assistant
Image=ghcr.io/machineonamission/linux-voice-assistant:led-pipewire-wakelisten-2
Environment=SENDSPIN_URL=ws://192.168.0.2:8927/sendspin
Environment=VOLUME_CONTROLLER=pipewire
#Image=ghcr.io/machineonamission/linux-voice-assistant:leds-and-buttons-events
AutoUpdate=registry
Pull=newer
AddCapability=SYS_NICE
SecurityLabelDisable=true
GroupAdd=audio
# the :U flag makes the stupid post-start one-shot container redundant. podman my beloved
Volume=wakeword_data.volume:/app/local:z
Volume=lva-configuration.volume:/app/configuration:z
Volume=custom-wakewords.volume:/app/wakewords/custom:z
#Volume=/etc/localtime:/etc/localtime:ro
#Volume=/etc/timezone:/etc/timezone:ro
Volume=/run/pipewire:/run/pipewire:ro

#Exec=--sendspin-url "ws://192.168.0.2:8927/sendspin" --sendspin-static-delay-ms 100 --sendspin-client-id lva_kitchen
# Native Healthchecks
#HealthCmd=pgrep -f linux_voice_assistant || exit 1
#HealthInterval=30s
#HealthTimeout=5s
#HealthRetries=3
#HealthStartupRetries=100



# --- .env file ---
Environment=ENABLE_DEBUG=1
#Environment=LVA_USER_ID=1000
#Environment=LVA_USER_GROUP=1000
Environment=CLIENT_NAME=lva_kitchen

Environment=LVA_PULSE_SERVER=unix:/run/pipewire/pulse/native
Environment=LVA_XDG_RUNTIME_DIR=/run/pipewire
Environment=XDG_RUNTIME_DIR=/run/pipewire
Environment=PULSE_SERVER=unix:/run/pipewire/pulse/native

Environment=ENABLE_THINKING_SOUND=1
#Environment=WAKE_MODEL=/app/wakewords/openWakeWord/ok_nabu_v0.1.tflite
#Environment=STOP_MODEL=stop
Environment=WAKE_WORD_DIR=wakewords/custom
#Environment=REFACTORY_SECONDS=0
#Environment=AUDIO_OUTPUT_DEVICE=pipewire/sink.echo_cancel
#Environment=AUDIO_INPUT_DEVICE="Echo Cancelled Mic"
Environment=PULSE_COOKIE="/app/configuration/tmp_pulse_cookie"
Environment=LISTEN_DURING_WAKE_SOUND=1
# --------------------------------------------------
#HealthCmd=timeout 1 bash -c 'cat < /dev/null > /dev/tcp/$${HOST:-"$$(hostname -I | awk "{print \$$1}")"}/$${PORT:-6053}'
HealthCmd=ss -tulpn | grep :6053
HealthStartupCmd=ss -tulpn | grep :6053
#HealthStartupCmd=timeout 1 bash -c 'cat < /dev/null > /dev/tcp/$${HOST:-"$$(hostname -I | awk "{print \$$1}")"}/$${PORT:-6053}'
HealthInterval=10s
HealthTimeout=10s
HealthRetries=3
Notify=healthy
HealthStartupRetries=100
HealthStartupInterval=3s
HealthOnFailure="kill"
#Exec=--list-input-devices
[Service]
Restart=always
#ExecStartPre=chown -R 1000:1000 /app/local /app/configuration
ExecStartPre=-/usr/bin/bash -c 'shopt -s nullglob; for f in /srv/volumes/smarthome/lva/custom_wakewords/*.tflite; do m=$$(basename "$$f" .tflite); echo "{\\\"type\\\": \\\"openWakeWord\\\", \\\"wake_word\\\": \\\"$$m\\\", \\\"model\\\": \\\"$$m.tflite\\\"}" > "$$(dirname "$$f")/$$m.json"; done'
