[Unit]
Wants=gockai-build.service
After=gockai-build.service

[Container]
Pod=bots.pod
ContainerName=gockai
Image=ghcr.io/cymkeight/gockai:main
AutoUpdate=registry
Pull=newer

[Service]
Restart=always
